.card{
    display: flex;
    height:24em;
    width: 17em;
    background-color: #2b2b2bcc;
    backdrop-filter: blur(2px);
    flex: 0 0 calc(18% - 20px);
    margin: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 5px var(--secondary);
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.card:hover{
    box-shadow: 2px 2px 10px var(--primary);
}

.card:hover img{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.card h1{
    text-align: center;
    position: absolute;
    top:-10%;
    left:0;
    display: none;
    height:110%;
    width:100%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background-color: #141414ac;
    color:var(--text);
    transition: display 0.5s ease-in-out;
}

.card:hover h1{
    display: flex;
    transition: display 0.5s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .card{
       flex:auto;
       margin:20px; 
    }
}
